h1,
.cateLevel1 {
    counter-reset: h2counter;
}


h2,
.cateLevel2 {
    counter-reset: h3counter;
}


h3,
.cateLevel3 {
    counter-reset: h4counter;
}

h4,
.cateLevel4 {
    counter-reset: h5counter;
}

h5,
.cateLevel5 {
    counter-reset: h6counter;
}

h2::before,
.cateLevel2::before {
    counter-increment: h2counter;
    content: counter(h2counter) ". ";
}

h3::before,
.cateLevel3::before {
    counter-increment: h3counter;
    content: counter(h2counter) "."
        counter(h3counter) ". ";
}

h4::before,
.cateLevel4::before {
    counter-increment: h4counter;
    content: counter(h2counter) "."
        counter(h3counter) "."
        counter(h4counter) ". ";
}

h5::before,
.cateLevel5::before {
    counter-increment: h5counter;
    content: counter(h2counter) "."
        counter(h3counter) "."
        counter(h4counter) "."
        counter(h5counter) ". ";
}

h6::before,
.cateLevel6::before {
    counter-increment: h6counter;
    content: counter(h2counter) "."
        counter(h3counter) "."
        counter(h4counter) "."
        counter(h5counter) "."
        counter(h6counter) ". ";
}